<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    <header>
     <h1>
       <img src="images/kiddo-logo.svg">
     </h1>
    </header>
    <form>
      <h2>Still unsure on a name for your little one?</h2>
      <h3>Search our popularity graph below</h3>
      <input type="text" name="name" placeholder="Enter a name" autocomplete="off">
    </form>
    <section>
      <nav>
        <div>
          Results for <span class="name">Kobe</span>
        </div>
        <div class="key">
          <span class="male"></span> Male
          <span class="female"></span> Female
        </div>
      </nav>
      <svg></svg>
    </section>
    </div>
  </body>
  <script type="text/javascript" src="javascripts/d3.min.js"></script>
  <script type="text/javascript" src="javascripts/data.min.js"></script>
  <script type="text/javascript" src="javascripts/kiddo.js"></script>
</html>
