@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --background: #f4f1e9;
  --main: #746f61;
  --placeholder: #b4b0a4;
  --male: #ff8a00;
  --female: #00d400;
  --page-width: 960px;
}

body {
  padding: 50px;
  font: 18px "Fredoka One", Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--main);
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

a {
  color: #00B7FF;
}

div.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

form {
  text-align: center;
  padding: 24px;
  border-top: 2px solid var(--placeholder);
  border-bottom: 2px solid var(--placeholder);
  margin-bottom: 2em;
}

h3 {
  margin: 0 0 16px 0;
}

input {
  padding: 8px 16px;
  width: 50%;
  border: 2px solid var(--placeholder);
  color: var(--main);
  font: 18px "Fredoka One", Helvetica, Arial, sans-serif;
}

input:focus {
  outline: none;
}